.quote {
	font-style: italic;
}

.container {
	max-width: 840px;
	margin: 0 auto;
}

.intro {
	text-align: center;
}

.about-grid {
	display: grid;
	grid-template-columns: 50% 50%;
}

.i-am, .i-like {
	text-align: center;
	text-decoration: none
}

.about-list {
	list-style: none;
	padding: 0;
}

.projects-heading {
	text-align: center;	
}

.projects-grid {
	display: grid;
	grid-template-columns: 50% 50%;
}

.project-image {
	justify-self: center;
	padding: 4%;
}

@media (max-width: 480px) {
	.about-grid {
		grid-template-columns: 100%;
	}
}

@media (max-width: 650px) {
	.projects-grid {
		grid-template-columns: 100%;
	}
}
