.quote {
	font-style: italic;
}

.container {
	max-width: 840px;
	margin: 0 auto;
}

.intro {
	text-align: center;
}

.about-grid {
	display: grid;
	grid-template-columns: 50% 50%;
}

.i-am, .i-like {
	text-align: center;
	text-decoration: none
}

.about-list {
	list-style: none;
	padding: 0;
}

.projects-heading {
	text-align: center;	
}

.projects-grid {
	display: grid;
	grid-template-columns: 50% 50%;
}

.project-image {
	justify-self: center;
	padding: 4%;
}

.links-and-contact {
	display: grid;
	grid-template-columns: 30% 70%;
}

.links {
	justify-self: center;
}

.links-list {
	list-style: none;
	padding: 0;
}

.profile-picture {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
	transition: all ease-in-out .2s;
}

.profile-picture:hover {
	box-shadow: 0 8px 12px 0 rgba(34,60,80,.16);
}

@media (max-width: 480px) {
	.about-grid {
		grid-template-columns: 100%;
	}
}

@media (max-width: 650px) {
	.projects-grid {
		grid-template-columns: 100%;
	}

	.links-and-contact {
		grid-template-columns: 100%;
	}
}
